adapter driver jlink

adapter speed 1000
#source [find mem_helper.tcl]

transport select jtag

#adapter srst delay 100


#reset_config srst_only
#reset_config srst_nogate

reset_config none

set _CHIPNAME riscv
jtag newtap $_CHIPNAME cpu -irlen 5 -expected-id 0x10002FFF

adapter srst delay 200
jtag_ntrst_delay 200

set _TARGETNAME $_CHIPNAME.cpu

target create $_TARGETNAME.0 riscv -chain-position $_TARGETNAME
$_TARGETNAME.0 configure -work-area-phys 0x20000000 -work-area-size 10000 -work-area-backup 1

set _FLASHNAME $_CHIPNAME.flash
flash bank $_FLASHNAME as32x601_eflash 0x01000000 0x00400000 0 0 $_TARGETNAME.0 1
#System clock : 0:20Mhz; 1:160Mhz
init
reset halt
