# Copyright (c) 2024 Ansilic Technology Co., Ltd
# SPDX-License-Identifier: Apache-2.0

config COUNTER_AS32X601_TIMER
	bool "Ansilic AS32X601 Timer counter driver"
	default y
	depends on DT_HAS_ANSILIC_AS32X601_TIMER_ENABLED
	help
	  Enable counter driver for Ansilic AS32X601 TIM peripheral.
