/* SPDX-License-Identifier: Apache-2.0 */

/dts-v1/;

#include <ansilic/as32x601.dtsi>
#include <zephyr/dt-bindings/gpio/gpio.h>
#include "as32x601_evb-pinctrl.dtsi"

/ {
	model = "Ansilic AS32X601 Evaluation Board";
	compatible = "ansilic,as32x601-evb";

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &flash0;
		zephyr,console = &uart0;
		zephyr,shell-uart = &uart0;
	};

	aliases {
		serial-0 = &uart0;
		gpio-0 = &gpioa;
		led0 = &user_led0;
		led1 = &user_led1;
		led2 = &user_led2;
		sw0 = &button_pb3;
		sw1 = &button_pb4;
		sw2 = &button_pe10;
		rs485-de = &rs485_de;
		qspi-flash = &qspi0;
	};

	rs485_ctrl {
		compatible = "gpio-leds";
		rs485_de: rs485_de_0 {
			gpios = <&gpiog 11 GPIO_ACTIVE_HIGH>;
			label = "RS485 DE";
		};
	};

	leds {
		compatible = "gpio-leds";
		user_led0: led_0 {
			gpios = <&gpiog 15 GPIO_ACTIVE_LOW>;
			label = "User LED4";
		};
		user_led1: led_1 {
			gpios = <&gpiog 14 GPIO_ACTIVE_LOW>;
			label = "User LED5";
		};
		user_led2: led_2 {
			gpios = <&gpiog 10 GPIO_ACTIVE_LOW>;
			label = "User LED6";
		};
	};

	buttons {
		compatible = "gpio-keys";

		button_pb3: button_pb3 {
			gpios = <&gpiob 3 GPIO_ACTIVE_LOW>;
			label = "Button PB3";
			zephyr,code = <0>;
		};

		button_pb4: button_pb4 {
			gpios = <&gpiob 4 GPIO_ACTIVE_LOW>;
			label = "Button PB4";
			zephyr,code = <1>;
		};

		button_pe10: button_pe10 {
			gpios = <&gpioe 10 GPIO_ACTIVE_LOW>;
			label = "Button PE10";
			zephyr,code = <2>;
		};
	};
};

&uart0 {
	status = "okay";
};

&gpioa {
	status = "okay";
};

&gpiob {
	status = "okay";
};

&gpioe {
	status = "okay";
};

&gpiog {
	status = "okay";
};

&gpiof {
	status = "okay";
};

&uart5 {
	status = "okay";
};

&spi4 {
	status = "okay";
	cs-gpios = <&gpiog 4 GPIO_ACTIVE_LOW>;
	adc128s: adc128s102@0 {
		compatible = "ti,adc128s102";
		reg = <0>;
		spi-max-frequency = <11250000>;
	};
};

&i2c0 {
	status = "okay";
	ina226: ina226@40 {
		compatible = "ti,ina226";
		reg = <0x40>;
		rshunt-micro-ohms = <10000>;
		current-lsb-microamps = <1000>;
	};
};

&i2c1 {
	status = "okay";
	eeprom: at24c02@50 {
		compatible = "atmel,at24";
		reg = <0x50>;
		size = <256>;
		pagesize = <8>;
		address-width = <8>;
		timeout = <5>;
	};
};

&tim0 {
	status = "okay";
};

&qspi0 {
	status = "okay";
};

&mac {
	status = "okay";
};

&canfd3 {
	status = "okay";
	pinctrl-0 = <&canfd3_default>;
	pinctrl-names = "default";
	bitrate = <500000>;
	sample-point = <875>;
	bitrate-data = <2000000>;
	sample-point-data = <750>;
};
